
<div class="container mb-5">

  <div class="secao">
    <h3 class="text-center">Rodízios, Buffet, Carnes Especiais, Feijoada e mais!</h3>
    <h5 class="text-center">Conheça as melhores ofertas de restaurantes:</h5>
  </div>

  <hr />
  <div *ngFor="let ofer of ofertas">
    <div class="row">
      <div class="col-md-4">
        <img [src]="ofer.imagens[0].url" class="img-fluid" />
      </div>

      <div class="col-md-8">
        <div class="row">
          <h4>{{ofer.titulo}}</h4>
        </div>
        <div class="row">
          <h5>{{ofer.descricao_oferta}}</h5>
        </div>
        <div class="row">
          <p>{{ofer.anunciante}}</p>
        </div>
        <div class="row">
          <p>{{ofer.valor | currency: 'BRL':true}}</p>
        </div>
        <div class="row">
          <button [routerLink]="['/oferta', ofer.id]" class="btn btn-outline-primary">Ver oferta</button>
        </div>
      </div>
    </div>

    <hr />
  </div>

</div>
