<div class="mb-5 container">

  <div class="secao">
    <h3 class="text-center">Destaques do dia!</h3>
    <h5 class="text-center">Aproveite as super ofertas que separamos para você:</h5>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-4 mb-3" *ngFor="let ofer of ofertas">
      <div class="card">
        <img class="card-img-top" [src]="ofer.imagens[0].url">
        <div class="card-block p-2">
          <h4 class="card-title">{{ofer.titulo}}</h4>
          <p class="card-text">{{ofer.descricao_oferta}}</p>
          <p class="preco">{{ofer.valor | currency: 'BRL':true}}</p>
          <button [routerLink]="['/oferta', ofer.id]" class="btn btn-outline-primary">Ver oferta</button>
        </div>
      </div>
    </div>
  </div>
  <hr />

</div>
